Repository denandserg/Books: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:scripts, lint:styles, unit:testing, deploy:qa, deploy:stage

lint:scripts:
  stage: code_quality
  cache:
    paths:
    - node_modules/
  script:
  - yarn run lint:scripts:check --max-warnings 0
  tags:
  - web-ci

lint:styles:
  stage: code_quality
  cache:
    paths:
    - node_modules/
  script:
  - yarn run lint:styles:check
  tags:
  - web-ci

unit:testing:
  stage: testing
  cache:
    paths:
    - node_modules/
  script:
  - yarn test
  tags:
  - web-ci

deploy:qa:
  cache:
    paths:
    - node_modules/
  stage: deployment
  script:
  - yarn run build
  - yarn run deploy
  tags:
  - web-ci
  variables:
    AWS_S3_HOST_BUCKET_NAME: $AWS_S3_HOST_BUCKET_NAME__QA
    REACT_APP_API_BASE: $REACT_APP_API_BASE__QA
  environment:
    name: qa
  ...

deploy:stage:
  cache:
    paths:
    - node_modules/
  stage: deployment
  script:
  - yarn run build
  - yarn run deploy
  tags:
  - web-ci
  when: manual
  variables:
    AWS_S3_HOST_BUCKET_NAME: $AWS_S3_HOST_BUCKET_NAME__STAGE
    REACT_APP_API_BASE: $REACT_APP_API_BASE__STAGE
  environment:
    name: stage
  ...

remove unused
  src/app/containers/SignInBtn/enhance.ts
  src/app/containers/SignInBtn/index.tsx
  src/app/containers/SignInBtn/styles.module.scss
  src/assets/images/svg/camera.svg
  src/assets/images/svg/location.svg
  src/assets/images/svg/placeholder.svg
  src/assets/images/svg/search.svg
  src/hooks/useCurrentUser.tsx
  src/logo.svg
  src/utils/validators/index.ts
  src/utils/validators/isBlobFileSizeLessThan.ts
  src/utils/validators/isBlobMimeTypeOneOf.ts
  src/utils/validators/isDataUriFileSizeLessThan.ts
  src/utils/validators/isDataUriMimeType.ts
  src/utils/validators/isNumberBetween.ts
  src/utils/validators/isNumberLessThan.ts
  src/utils/validators/toBytes.ts
  tasks/createVersionTxt.js
  tasks/deploy.js
  tasks/uploadDirToAws.js
Due: lint:scripts, lint:styles, unit:testing

add json firebase catalogue
  .firebase/hosting.YnVpbGQ.cache
  .firebaserc
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.js
  firebase.json
  src/app/components/Button/stories.tsx
  src/app/components/Icon/stories.tsx
  src/app/components/Input/stories.tsx
  src/app/components/Logo/stories.tsx
  src/app/components/Overlay/stories.tsx
  src/hocs/withErrorBoundary/stories.tsx
  src/hocs/withLoader/stories.tsx
  src/utils/copyStringToClipboard.ts
  src/utils/validators/index.ts
  src/utils/validators/isNumber.ts
  users_favourite.json
Due: lint:scripts, unit:testing

fix some bugs
  package.json
  src/app/components/Loader/styles.module.scss
  src/app/containers/BooksLIst/index.tsx
  src/app/containers/BooksLIst/styles.module.scss
  src/app/containers/CommonPageLayout/styles.module.scss
  src/app/routes/paths.ts
Due: lint:scripts, lint:styles, unit:testing, deploy:qa, deploy:stage

fix classNames Loader
  .firebase/hosting.YnVpbGQ.cache
  .gitignore
  src/app/components/Loader/index.tsx
  src/app/components/Loader/styles.module.scss
Due: lint:scripts, lint:styles, unit:testing

should displayed error
  src/app/containers/BooksLIst/index.tsx
Due: lint:scripts, unit:testing

sign in / sign up --> separate
  src/app/pages/RegistrationPage/UserForm/enhance.ts
  src/app/pages/RegistrationPage/UserForm/index.tsx
  src/app/pages/RegistrationPage/UserForm/styles.module.scss
  src/app/pages/RegistrationPage/enhance.ts
  src/app/pages/RegistrationPage/index.tsx
  src/app/pages/SignInPage/styles.module.scss
  src/app/routes/index.tsx
Due: lint:scripts, lint:styles, unit:testing

use hooks getAllBooks & getFavouriteBooks
  src/app/containers/BooksLIst/index.tsx
  src/hooks/useGetAllBooks.ts
  src/hooks/useGetFavouriteBooks.ts
Due: lint:scripts, unit:testing

use process.env variable
  src/api/firebase/config.ts
  src/api/firebase/index.ts
Due: lint:scripts, unit:testing

use process.env variable - fix bug
  src/api/firebase/index.ts
Due: lint:scripts, unit:testing

use process.env variable - fix test
  src/app/App.test.tsx
Due: lint:scripts, unit:testing

Path conditions:
  lint:scripts: any of: src/**/*.{ts,tsx}
  lint:styles: any of: src/**/*.{css,scss}
  unit:testing: any of: src/**/*.{ts,tsx}
  deploy:qa: any of: package.json
  deploy:stage: any of: package.json
