Repository denandserg/Books: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:scripts, lint:styles, unit:testing, deploy:qa, deploy:stage

lint:scripts:
  stage: code_quality
  cache:
    paths:
    - node_modules/
  script:
  - yarn run lint:scripts:check --max-warnings 0
  tags:
  - web-ci

lint:styles:
  stage: code_quality
  cache:
    paths:
    - node_modules/
  script:
  - yarn run lint:styles:check
  tags:
  - web-ci

unit:testing:
  stage: testing
  cache:
    paths:
    - node_modules/
  script:
  - yarn test
  tags:
  - web-ci

deploy:qa:
  cache:
    paths:
    - node_modules/
  stage: deployment
  script:
  - yarn run build
  - yarn run deploy
  tags:
  - web-ci
  variables:
    AWS_S3_HOST_BUCKET_NAME: $AWS_S3_HOST_BUCKET_NAME__QA
    REACT_APP_API_BASE: $REACT_APP_API_BASE__QA
  environment:
    name: qa
  ...

deploy:stage:
  cache:
    paths:
    - node_modules/
  stage: deployment
  script:
  - yarn run build
  - yarn run deploy
  tags:
  - web-ci
  when: manual
  variables:
    AWS_S3_HOST_BUCKET_NAME: $AWS_S3_HOST_BUCKET_NAME__STAGE
    REACT_APP_API_BASE: $REACT_APP_API_BASE__STAGE
  environment:
    name: stage
  ...

fix eslint
  src/api/saga/watchers.ts
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/routes/index.tsx
  src/hocs/withErrorBoundary/index.tsx
  src/hocs/withErrorBoundary/stories.tsx
  src/index.tsx
  src/redux/createRootReducer.ts
Due: lint:scripts, unit:testing

init firedase
  .env.local.example
  package.json
  src/api/firebase/config.ts
  src/api/firebase/index.ts
  src/app/App.scss
  src/app/App.tsx
  yarn.lock
Due: lint:scripts, lint:styles, unit:testing, deploy:qa, deploy:stage

added sign page layout
  package.json
  src/app/components/Button/enhance.ts
  src/app/components/Button/index.tsx
  src/app/components/Button/stories.tsx
  src/app/components/Button/styles.module.scss
  src/app/components/Icon/data/fonts/icons.svg
  src/app/components/Icon/data/fonts/icons.ttf
  src/app/components/Icon/data/fonts/icons.woff
  src/app/components/Icon/data/selection.json
  src/app/components/Icon/data/style.scss
  src/app/components/Icon/data/variables.scss
  src/app/components/Icon/index.tsx
  src/app/components/Icon/stories.tsx
  src/app/components/Icon/styles.module.scss
  src/app/components/Loader/index.tsx
  src/app/components/Loader/styles.module.scss
  src/app/components/Logo/.test.tsx
  src/app/components/Logo/index.tsx
  src/app/components/Logo/stories.tsx
  src/app/components/Logo/styles.module.scss
  src/app/containers/SignInBtn/enhance.ts
  src/app/containers/SignInBtn/index.tsx
  src/app/containers/SignInBtn/styles.module.scss
  src/app/pages/SignInPage/enhance.ts
  src/app/pages/SignInPage/index.tsx
  src/app/pages/SignInPage/styles.module.scss
  src/app/routes/index.tsx
  src/assets/images/svg/logotype.svg
  src/utils/copyStringToClipboard.ts
  yarn.lock
Due: lint:scripts, lint:styles, unit:testing, deploy:qa, deploy:stage

fix console
  src/api/saga/watchers.ts
  src/app/App.test.tsx
  src/app/routes/index.tsx
  src/hocs/withErrorBoundary/index.tsx
  src/hocs/withErrorBoundary/stories.tsx
  src/index.tsx
  src/redux/createRootReducer.ts
Due: lint:scripts, unit:testing

fix unused import
  src/app/routes/index.tsx
Due: lint:scripts, unit:testing

added header component
  src/app/containers/Header/enhance.ts
  src/app/containers/Header/index.tsx
  src/app/containers/Header/styles.module.scss
  src/app/routes/index.tsx
  src/assets/images/svg/logotype.svg
Due: lint:scripts, lint:styles, unit:testing

added footer component
  src/app/containers/Footer/enhance.ts
  src/app/containers/Footer/index.tsx
  src/app/containers/Footer/styles.module.scss
  src/app/containers/Header/index.tsx
Due: lint:scripts, lint:styles, unit:testing

add common page
  src/app/containers/BooksLIst/enhance.ts
  src/app/containers/BooksLIst/index.tsx
  src/app/containers/BooksLIst/styles.module.scss
  src/app/pages/CommonPage/enhance.ts
  src/app/pages/CommonPage/index.tsx
  src/app/pages/CommonPage/styles.module.scss
  src/app/routes/index.tsx
  src/app/routes/paths.ts
Due: lint:scripts, lint:styles, unit:testing

added sign-in-form
  package.json
  src/app/components/FieldError/index.tsx
  src/app/components/FieldError/styles.module.scss
  src/app/components/Input/index.tsx
  src/app/components/Input/stories.tsx
  src/app/components/Input/styles.module.scss
  src/app/components/Loader/index.tsx
  src/app/components/Overlay/index.tsx
  src/app/components/Overlay/stories.tsx
  src/app/components/Overlay/styles.module.scss
  src/app/containers/EmailField/enhance.ts
  src/app/containers/EmailField/index.tsx
  src/app/containers/NameField/enhance.ts
  src/app/containers/NameField/index.tsx
  src/app/pages/SignInPage/UserForm/enhance.ts
  src/app/pages/SignInPage/UserForm/index.tsx
  src/app/pages/SignInPage/UserForm/styles.module.scss
  src/app/pages/SignInPage/index.tsx
  src/app/pages/SignInPage/styles.module.scss
  src/hocs/asFormField/index.tsx
  src/hocs/asFormField/styles.module.scss
  src/hocs/withLoader/index.tsx
  src/hocs/withLoader/stories.tsx
  src/hooks/useInnerVal.ts
  src/utils/validators/hasEmailFormat.ts
  src/utils/validators/hasNoDigits.ts
  src/utils/validators/hasNoSuccessiveSpaces.ts
  src/utils/validators/index.ts
  src/utils/validators/isBlobFileSizeLessThan.ts
  src/utils/validators/isBlobMimeTypeOneOf.ts
  src/utils/validators/isDataUriFileSizeLessThan.ts
  src/utils/validators/isDataUriMimeType.ts
  src/utils/validators/isNotEndWithSpace.ts
  src/utils/validators/isNotStartWithSpace.ts
  src/utils/validators/isNumber.ts
  src/utils/validators/isNumberBetween.ts
  src/utils/validators/isNumberGreaterThan.ts
  src/utils/validators/isNumberLessThan.ts
  src/utils/validators/toBytes.ts
  yarn.lock
Due: lint:scripts, lint:styles, unit:testing, deploy:qa, deploy:stage

added sign-in-form / registration form to Redux
  src/app/App.scss
  src/app/components/FieldError/index.tsx
  src/app/components/Loader/styles.module.scss
  src/app/containers/CommonPageLayout/enhance.ts
  src/app/containers/CommonPageLayout/index.tsx
  src/app/containers/CommonPageLayout/styles.module.scss
  src/app/containers/EmailField/enhance.ts
  src/app/containers/NameField/enhance.ts
  src/app/pages/SignInPage/UserForm/index.tsx
  src/app/pages/SignInPage/UserForm/styles.module.scss
  src/app/pages/SignInPage/index.tsx
  src/redux/createRootReducer.ts
  src/utils/validators/hasEmailFormat.ts
  src/utils/validators/hasNoDigits.ts
  src/utils/validators/index.ts
Due: lint:scripts, lint:styles, unit:testing

database structure
  package.json
  src/api/firebase/config.ts
  src/api/firebase/index.ts
  src/api/index.ts
  src/app/containers/BooksLIst/index.tsx
  src/app/containers/BooksLIst/reducer.ts
  src/app/containers/BooksLIst/selectors.ts
  src/app/containers/BooksLIst/styles.module.scss
  src/app/pages/CommonPage/index.tsx
  src/redux/createRootReducer.ts
  src/utils/subSelectorCreator.ts
  yarn.lock
Due: lint:scripts, lint:styles, unit:testing, deploy:qa, deploy:stage

added sign-in with firebase
  package.json
  src/api/firebase/index.ts
  src/app/App.scss
  src/app/components/Loader/index.tsx
  src/app/components/Loader/styles.module.scss
  src/app/containers/NameField/enhance.ts
  src/app/pages/SignInPage/UserForm/enhance.ts
  src/app/pages/SignInPage/UserForm/index.tsx
  src/app/pages/SignInPage/index.tsx
  src/hooks/useCurrentUser.tsx
  yarn.lock
Due: lint:scripts, lint:styles, unit:testing, deploy:qa, deploy:stage

added registration with firebase
  src/app/containers/NameField/enhance.ts
  src/app/containers/NameField/index.tsx
  src/app/pages/SignInPage/UserForm/index.tsx
  src/app/pages/SignInPage/index.tsx
  src/app/routes/index.tsx
  src/app/routes/paths.ts
  src/utils/validators/isNotEndWithSpace.ts
  src/utils/validators/isNotStartWithSpace.ts
  src/utils/validators/isNumberGreaterThan.ts
Due: lint:scripts, unit:testing

fix form width
  src/app/pages/SignInPage/UserForm/index.tsx
  src/app/pages/SignInPage/UserForm/styles.module.scss
Due: lint:scripts, lint:styles, unit:testing

added error catch auth
  src/app/pages/SignInPage/UserForm/index.tsx
  src/app/pages/SignInPage/UserForm/styles.module.scss
  src/app/pages/SignInPage/index.tsx
Due: lint:scripts, lint:styles, unit:testing

book data
  package.json
  src/api/index.ts
  src/app/containers/BookListItem/convertToCamelCase.ts
  src/app/containers/BookListItem/enhance.ts
  src/app/containers/BookListItem/index.tsx
  src/app/containers/BookListItem/styles.module.scss
  src/app/containers/BooksLIst/constants.ts
  src/app/containers/BooksLIst/index.tsx
  src/app/containers/BooksLIst/reducer.ts
  src/app/containers/BooksLIst/selectors.ts
  src/app/containers/BooksLIst/styles.module.scss
  src/app/pages/CommonPage/index.tsx
  src/app/pages/CommonPage/styles.module.scss
  src/redux/createRootReducer.ts
  tsconfig.json
  yarn.lock
Due: lint:scripts, lint:styles, unit:testing, deploy:qa, deploy:stage

Merge branch 'dev' into feature/book_list
  src/app/containers/BookListItem/convertToCamelCase.ts
Due: lint:scripts, unit:testing

fix unit test error
  src/api/firebase/index.ts
  src/api/index.ts
Due: lint:scripts, unit:testing

added footer/header to common page
  src/app/containers/BooksLIst/index.tsx
  src/app/containers/Header/index.tsx
  src/app/pages/CommonPage/index.tsx
  src/assets/styles/vendor.scss
Due: lint:scripts, lint:styles, unit:testing

fix Header lint
  src/app/containers/Header/index.tsx
Due: lint:scripts, unit:testing

fix styles
  src/app/containers/CommonPageLayout/styles.module.scss
  src/app/containers/Footer/styles.module.scss
Due: lint:styles

styles for book
  src/app/containers/BookListItem/styles.module.scss
  src/app/containers/BooksLIst/styles.module.scss
Due: lint:styles

fix book item width
  src/app/containers/BookListItem/styles.module.scss
Due: lint:styles

rewrite book item component
  src/app/containers/BookListItem/index.tsx
  src/app/containers/BooksLIst/index.tsx
Due: lint:scripts, unit:testing

added logout/signin functional
  src/api/saga/watchers.ts
  src/app/App.tsx
  src/app/containers/CommonPageLayout/index.tsx
  src/app/containers/Header/index.tsx
  src/app/pages/CommonPage/index.tsx
  src/app/pages/SignInPage/index.tsx
  src/redux/actions.ts
  src/redux/configureStore.ts
  src/redux/createRootReducer.ts
  src/redux/reducer.ts
  src/redux/selectors.ts
  src/utils/createAction.ts
  src/utils/createAsyncActionTypes.ts
  src/utils/createAsyncActions.ts
Due: lint:scripts, unit:testing

added favourite layout
  src/app/containers/BookListItem/styles.module.scss
  src/app/containers/BooksLIst/index.tsx
  src/app/containers/BooksLIst/styles.module.scss
  src/app/containers/CommonPageLayout/styles.module.scss
  src/app/containers/Header/index.tsx
  src/app/containers/Header/styles.module.scss
  src/app/pages/FavouritePage/enhance.ts
  src/app/pages/FavouritePage/index.tsx
  src/app/pages/FavouritePage/styles.module.scss
  src/app/routes/index.tsx
  src/app/routes/paths.ts
Due: lint:scripts, lint:styles, unit:testing

add rout types
  src/app/pages/BookPage/index.tsx
  src/app/routes/paths.ts
Due: lint:scripts, unit:testing

add book page and routing
  src/app/containers/BookListItem/index.tsx
  src/app/containers/BooksLIst/index.tsx
  src/app/pages/BookPage/enhance.ts
  src/app/pages/BookPage/index.tsx
  src/app/pages/BookPage/styles.module.scss
  src/app/routes/index.tsx
  src/app/routes/paths.ts
Due: lint:scripts, lint:styles, unit:testing

rebase with current dev
  src/app/containers/BooksLIst/index.tsx
  src/app/routes/paths.ts
Due: lint:scripts, unit:testing

added details book layout
  bd_books.json
  src/app/containers/Footer/index.tsx
  src/app/containers/Footer/styles.module.scss
  src/app/pages/BookPage/index.tsx
  src/app/pages/BookPage/styles.module.scss
Due: lint:scripts, lint:styles, unit:testing

added favourite button on book
  src/app/components/FavoriteSign/index.tsx
  src/app/components/FavoriteSign/styles.module.scss
  src/app/containers/BookListItem/index.tsx
  src/app/containers/BookListItem/styles.module.scss
  src/app/containers/SignInBtn/index.tsx
  src/app/pages/SignInPage/UserForm/styles.module.scss
Due: lint:scripts, lint:styles, unit:testing

fix reg form
  src/app/containers/Header/index.tsx
  src/app/containers/NameField/enhance.ts
  src/app/pages/SignInPage/UserForm/index.tsx
Due: lint:scripts, unit:testing

added displayName user
  src/app/containers/PasswordField/enhance.ts
  src/app/containers/PasswordField/index.tsx
  src/app/pages/SignInPage/index.tsx
Due: lint:scripts, unit:testing

added hello user
  src/app/containers/Header/index.tsx
  src/app/containers/Header/styles.module.scss
  src/app/pages/SignInPage/UserForm/index.tsx
Due: lint:scripts, lint:styles, unit:testing

added favourite array books
  bd_books.json
  src/api/index.ts
  src/app/containers/BooksLIst/constants.ts
  src/app/containers/BooksLIst/index.tsx
  src/app/pages/CommonPage/index.tsx
  src/app/pages/FavouritePage/index.tsx
Due: lint:scripts, unit:testing

added favourite logic
  src/api/index.ts
  src/app/components/FavoriteSign/index.tsx
  src/app/containers/BookListItem/index.tsx
  src/app/containers/BooksLIst/index.tsx
  src/app/pages/BookPage/index.tsx
Due: lint:scripts, unit:testing

added favourite heart
  src/app/components/FavoriteSign/index.tsx
  src/app/containers/BookListItem/index.tsx
  src/app/containers/BooksLIst/index.tsx
  src/app/containers/Header/index.tsx
  src/app/containers/Header/styles.module.scss
  src/app/pages/BookPage/index.tsx
Due: lint:scripts, lint:styles, unit:testing

added full favourite functional
  src/app/components/FavoriteSign/index.tsx
  src/app/containers/BookListItem/index.tsx
  src/app/containers/BooksLIst/index.tsx
  src/app/pages/BookPage/index.tsx
Due: lint:scripts, unit:testing

fix bugs
  src/app/pages/BookPage/index.tsx
Due: lint:scripts, unit:testing

Path conditions:
  lint:scripts: any of: src/**/*.{ts,tsx}
  lint:styles: any of: src/**/*.{css,scss}
  unit:testing: any of: src/**/*.{ts,tsx}
  deploy:qa: any of: package.json
  deploy:stage: any of: package.json
